$darkRed: #8e0101;
$lightGreen: #91ec91;
$darkGray: #1c1b1b;
$white: #fff;
$darkBlue: #1b51a7;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
