*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rebeccapurple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select:focus,
input:focus {
  border: 0.15rem solid #1b51a7;
  outline: none;
}

#payment-form {
  margin-top: 10rem;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 35rem;
  position: relative;
}

.payment__form {
  background-color: #fff;
  position: relative;
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
}

.payment__form__inputs {
  text-align: center;
}

.payment__form__inputs input {
  font-size: 1rem;
  font-weight: bold;
  width: 90%;
  padding: 0.8rem;
  margin-bottom: 2rem;
}

.payment__form__inputs input:nth-child(5) {
  width: 31%;
  padding: 1.2rem;
  margin-bottom: 1.3rem;
  text-align: center;
}

.payment__form__inputs select {
  padding: 1.2rem;
  width: 26%;
  margin-right: 0.8rem;
  margin-bottom: 1.3rem;
  font-size: 1rem;
  font-weight: bold;
}

.payment__form__inputs button {
  width: 90%;
  padding: 1.2rem;
  border-radius: 0.6rem;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #1b51a7;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.payment__form__inputs button:focus {
  background-color: #91ec91;
  color: #1c1b1b;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.payment__form__inputs button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#visa-card,
#mastercard,
#humo-card,
#uzcard {
  background-color: transparent;
  display: none;
}

.payment__form__card {
  position: relative;
  height: 42%;
  margin-top: -13rem;
  margin-bottom: 5rem;
}

.payment__form__card__front {
  height: 100%;
  width: 27rem;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(/src/assets/front.jpeg);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/src/assets/front.jpeg);
  background-position: center;
  background-size: cover;
}

.payment__form__card__front input {
  margin-left: 2rem;
  background-color: transparent;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  outline: none;
  border-radius: 0.4rem;
  padding: 0.5rem;
  border: none;
}

.payment__form__card__front input:focus {
  border: 0.05rem solid #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(rgba(0, 0, 0, 0.3));
  -webkit-animation: leaves 500ms ease-in-out both;
          animation: leaves 500ms ease-in-out both;
}

@-webkit-keyframes leaves {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes leaves {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.payment__form__card__front input::-webkit-input-placeholder {
  color: inherit;
}

.payment__form__card__front input:-ms-input-placeholder {
  color: inherit;
}

.payment__form__card__front input::-ms-input-placeholder {
  color: inherit;
}

.payment__form__card__front input::placeholder {
  color: inherit;
}

.payment__form__card__front h2 {
  width: 60%;
  margin: 0.2rem 0.6rem;
  color: #e9e9e9;
  font-weight: bold;
  text-align: end;
}

.payment__form__card__front__inputs input {
  width: 60%;
}

.payment__form__card__front__images {
  position: relative;
}

.payment__form__card__front__images img {
  border-radius: 2rem;
  right: 2.3rem;
  bottom: -0.3rem;
  padding: 0.4rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.378)), to(#ffffffa6));
  background: linear-gradient(rgba(255, 255, 255, 0.378), #ffffffa6);
  width: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
  height: 3rem;
  position: absolute;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.payment__form__card__front__images img:nth-child(3) {
  background: none;
  border-radius: 0;
  height: 2.3rem;
  bottom: 0rem;
  right: 1.5rem;
  padding: 0;
}

.payment__form__card__front__chip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1.5rem 1.7rem 1rem 2rem;
}

.payment__form__card__front__chip img {
  margin: 1rem 0 0 1rem;
  width: 40%;
  width: 3.4rem;
  height: 2.3rem;
  background-color: transparent;
}

.payment__form__card__front__cname {
  width: 75%;
}

.payment__form__card__front__cname input {
  width: 80%;
}

.payment__form__card__front__expire {
  width: 90%;
  margin: 1rem 0 1rem 0;
}

.payment__form__card__front__expire input {
  width: 15%;
  margin-left: 0;
  text-align: center;
}

.payment__form__card__front__expire span {
  font-weight: bold;
}

.payment__form__card__front__expire label {
  margin: 0 1rem 0 5rem;
  font-weight: bold;
}

#cvv-card-top {
  margin-left: 1.5rem;
  opacity: 0;
}

#cvv-card {
  opacity: 0.5;
}

#top-input {
  width: 85%;
  letter-spacing: 0.3rem;
  padding-left: 1.45rem;
  font-size: 1.3rem;
}

#digits-error,
#cname-error {
  color: #8e0101;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

#exp-year-error,
#exp-month-error,
#cvv-error {
  color: #8e0101;
  width: 30%;
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-size: 0.9rem;
}

#exp-year-error {
  margin-right: 1.2rem;
}

#cvv-error {
  margin-right: 1.8rem;
}

#errors3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

#final-validation-error {
  color: #8e0101;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
}

@-webkit-keyframes fadeBrand {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeBrand {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.show-brand {
  -webkit-animation: fadeBrand 1s both;
          animation: fadeBrand 1s both;
}

@media screen and (max-width: 400px) {
  #payment-form {
    height: 35rem;
    max-width: 35rem;
  }
  .payment__form__inputs input {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }
  .payment__form__inputs input:nth-child(5) {
    width: 29%;
    padding: 1.2rem;
    margin-bottom: 1.3rem;
    text-align: center;
  }
  .payment__form__inputs select {
    padding: 1rem;
    width: 26%;
    margin-right: 0.8rem;
    margin-bottom: 1.3rem;
    font-size: 0.8rem;
  }
  .payment__form__card {
    height: 45%;
  }
}

@media screen and (max-width: 380px) {
  .payment__form__card {
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .payment__form__card__front {
    height: 100%;
    width: 20rem;
    border-radius: 1rem;
  }
  .payment__form__card__front input {
    font-size: 0.7rem;
    padding: 0.3rem;
  }
  .payment__form__card__front input::-webkit-input-placeholder {
    color: inherit;
  }
  .payment__form__card__front input:-ms-input-placeholder {
    color: inherit;
  }
  .payment__form__card__front input::-ms-input-placeholder {
    color: inherit;
  }
  .payment__form__card__front input::placeholder {
    color: inherit;
  }
  #cvv-card-top {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */