*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rebeccapurple;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#payment-form {
  margin-top: 10rem;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 35rem;
  position: relative;
}

.payment__form {
  background-color: #fff;
  position: relative;
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
}

.payment__form__inputs {
  text-align: center;
}

.payment__form__inputs input {
  font-size: 1rem;
  font-weight: bold;
  width: 90%;
  padding: 0.8rem;
  margin-bottom: 2rem;
}

.payment__form__inputs input:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.payment__form__inputs input:nth-child(5) {
  width: 31%;
  padding: 1.2rem;
  margin-bottom: 1.3rem;
  text-align: center;
}

.payment__form__inputs select {
  padding: 1.2rem;
  width: 26%;
  margin-right: 0.8rem;
  margin-bottom: 1.3rem;
  font-size: 1rem;
  font-weight: bold;
}

.payment__form__inputs select:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #fff;
}

.payment__form__inputs button {
  width: 90%;
  padding: 1.2rem;
  border-radius: 0.6rem;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #1b51a7;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.payment__form__inputs button:focus {
  background-color: #91ec91;
  color: #1c1b1b;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.payment__form__card {
  z-index: 1;
  position: relative;
  height: 40%;
  margin-top: -15rem;
  margin-bottom: 5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
}

.payment__form__card__front {
  position: absolute;
  height: 100%;
  width: 24rem;
  border-radius: 1rem;
  background: #bdc3c7;
  background: -webkit-gradient(linear, left top, right top, from(#2c3e50), to(#bdc3c7));
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  overflow: visible;
}

.payment__form__card__front input {
  margin-left: 2rem;
  background-color: transparent;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  outline: none;
  border-radius: 0.4rem;
  padding: 0.5rem;
}

.payment__form__card__front input:focus {
  border: 0.2rem solid #91ec91;
  background-color: #fff;
  color: #1c1b1b;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.payment__form__card__front input::-webkit-input-placeholder {
  color: inherit;
}

.payment__form__card__front input:-ms-input-placeholder {
  color: inherit;
}

.payment__form__card__front input::-ms-input-placeholder {
  color: inherit;
}

.payment__form__card__front input::placeholder {
  color: inherit;
}

.payment__form__card__front h2 {
  margin: 0.2rem 0.6rem;
  color: #d0d0d0;
  font-weight: bold;
  text-align: center;
}

.payment__form__card__front__inputs input {
  width: 60%;
}

.payment__form__card__front__images {
  position: relative;
}

.payment__form__card__front__images img {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 2rem;
  width: 4rem;
  height: 2.7rem;
  background-color: transparent;
}

.payment__form__card__front__chip img {
  margin: 0.8rem 2rem;
  width: 3.4rem;
  height: 2.3rem;
  background-color: transparent;
}

.payment__form__card__front__cname {
  width: 75%;
}

.payment__form__card__front__cname input {
  width: 80%;
}

.payment__form__card__front__expire {
  width: 90%;
  margin: 0.5rem 0 0.5rem 0;
}

.payment__form__card__front__expire input {
  width: 20%;
  margin-left: 0;
  border: none;
  text-align: center;
}

.payment__form__card__front__expire label {
  margin-left: 2rem;
}

.payment__form__card__back {
  height: 100%;
  background: #16222a;
  background: -webkit-gradient(linear, left top, right top, from(#3a6073), to(#16222a));
  background: linear-gradient(to right, #3a6073, #16222a);
  width: 24rem;
}

#cvv-card-top {
  margin-left: 1.5rem;
}

#digits-error,
#cname-error {
  color: #8e0101;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

#exp-year-error,
#exp-month-error,
#cvv-error {
  color: #8e0101;
  width: 30%;
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

#errors3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */