*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #371955;
  // height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

@import "./vars";
@import "./mixins";
@import "./form/container";
@import "./form/payment-card";
@import "./form/errors";
@import "./form/animations";
@import "./form/media-q";
