#digits-error,
#cname-error {
  color: $darkRed;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}
#exp-year-error,
#exp-month-error,
#cvv-error {
  color: $darkRed;
  width: 30%;
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

#errors3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
