.payment__form__card {
  z-index: 1;
  position: relative;
  height: 40%;
  margin-top: -15rem;
  margin-bottom: 5rem;
  @include boxShadow;
  overflow: hidden;

  &__front {
    position: absolute;
    height: 100%;
    width: 24rem;
    border-radius: 1rem;
    @include frontCardBg;
    overflow: visible;
    //
    input {
      margin-left: 2rem;
      background-color: transparent;
      font-weight: bold;
      color: $white;
      font-size: 1rem;
      outline: none;
      border-radius: 0.4rem;
      padding: 0.5rem;

      &:focus {
        border: 0.2rem solid $lightGreen;
        background-color: $white;
        color: $darkGray;
        @include boxShadow;
      }

      &::placeholder {
        color: inherit;
      }
    }
    //

    h2 {
      margin: 0.2rem 0.6rem;
      color: #d0d0d0;
      font-weight: bold;
      text-align: center;
    }

    &__inputs {
      input {
        width: 60%;
      }
    }

    &__images {
      position: relative;
      img {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        right: 2rem;
        width: 4rem;
        height: 2.7rem;
        background-color: transparent;
      }
    }

    &__chip {
      img {
        margin: 0.8rem 2rem;
        width: 3.4rem;
        height: 2.3rem;
        background-color: transparent;
      }
    }
    &__cname {
      width: 75%;
      input {
        width: 80%;
      }
    }

    &__expire {
      width: 90%;
      margin: 0.5rem 0 0.5rem 0;
      input {
        width: 20%;
        margin-left: 0;
        border: none;
        text-align: center;
      }

      label {
        margin-left: 2rem;
      }
    }
  }

  &__back {
    height: 100%;
    @include backCardBg;
    width: 24rem;
  }
}

#cvv-card-top {
  margin-left: 1.5rem;
  // display: none ;
}
