.payment__form__card {
  z-index: 1;
  position: relative;
  height: 40%;
  margin-top: -15rem;
  margin-bottom: 5rem;
  @include boxShadow;

  &__front {
    position: absolute;
    height: 100%;
    width: 24rem;
    border-radius: 1rem;
    @include frontCardBg;
    overflow: visible;
    //
    input {
      margin-left: 1rem;
      background-color: transparent;
      font-weight: bold;
      color: #fff;
      font-size: 1rem;
      outline: none;
      border-radius: 0.4rem;
      border-color: 0.2rem solid #110d4f;
      padding: 0.5rem;

      &::placeholder {
        color: inherit;
      }
    }
    //

    h1,
    h2 {
      margin: 0.2rem 0.6rem;
      color: #2d2d2d;
      font-weight: bold;
    }

    &__inputs {
      input {
        width: 60%;
      }
    }

    &__cname {
      input {
        width: 60%;
      }
    }

    &__expire {
      input {
        width: 17%;
      }
    }
  }

  &__back {
    height: 100%;
    @include backCardBg;
    width: 24rem;
  }
}

#cvv-card-top {
  width: 15%;

  margin-left: 4rem;
  // display: none ;
}
